@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;

    --cor-titulo: whitesmoke;
    --cor-texto: #F8FAFC;
    --cor-background: #121212;
    --cor-botoes: #B88A44;
    --cor-texto-hover: #FF8C42;
}

html, body {
    background-color: #121212;
    background-image: url("../imagens/fundo_geral.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid red;
    width: 375px;
    height: 667px;
    margin: auto;
}

header {
    padding: 20px 20px;
    height: 85px;
}

header>h1{
    font-size: 2.5em;
    text-align: center;
    color: var(--cor-texto-hover);
    text-shadow: 0 2px 8px rgba(0,0,0,0.9);
    padding-top: 25px;
}

h2 {
    text-align: center;
    color: var(--cor-texto-hover);
}

#links {
    text-align: center;
    padding: 20px;
    height: 20px;
}


section > div {
    background-image: url("../imagens/fundo_geral.jpg");
    background-repeat: no-repeat;
    height: 500px;
}

div > a {
    display: grid;
    background-color: var(--cor-botoes);
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    color: var(--cor-titulo);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

div > a:hover {
    display: grid;
    background-color: var(--cor-texto);
    text-decoration: none;
    text-align: center;
    color: var(--cor-texto-hover);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

footer {
    background-color: var(--cor-botoes);
    color: var(--cor-titulo);
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    width: 350px;
    margin: auto;
}

footer a {
    background-color: var(--cor-botoes);
    color: var(--cor-titulo);
    text-align: center;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    width: 350px;
    margin: auto;
}

/* Layout de páginas */

article {
    background-color: var(--cor-titulo);
    border-radius: 10px;
    opacity: 0.8;
    width: 350px;
    height: 440px;
    margin: auto;
    margin-bottom: 5px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

article::-webkit-scrollbar {
    display: none;
    background-color: var(--cor-titulo);
    border-radius: 10px;
    opacity: 0.8;
    width: 350px;
    height: 440px;
    margin: auto;
    margin-bottom: 5px;
    overflow: auto;
}

/* Configuração dos treinos */

.card-exercicio {
    border-radius: 10px;
    display: flex;
    width: 99%;
    height: 110px;
    background: #ececec;
}

.imagem {
    border-radius: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-image: url('../imagens/fundo_cabecalho.png');
    background-size: cover;
    background-position: center;
}

.informacoes {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.informacoes h2 {
    color: black;
}

.informacoes p {
    color: black;
    font-weight: 400;
}


/* Menu de páginas */

#links a.selecionado {
    background-color: var(--cor-texto);
    color: var(--cor-texto-hover);
}

#links a {
    background-color: var(--cor-texto-hover);
    text-decoration: none;
    color: var(--cor-texto);
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
}

#links a:hover {
    background-color: var(--cor-texto);
    text-decoration: none;
    color: var(--cor-texto-hover);
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
}
